.statusSentiment {
  float: right;
  font-size: 0.9em;
}

.commentSentiment {
  float: left;
  font-size: 0.9em;
}

.overallCommentSentiment {
  border-top: 1px solid #e1e2e3;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.9em;
}

.overallCommentSentimentHeading,
.commentSentimentHeading,
.statusSentimentHeading {
  font-weight: bold;
}

.positive {
  color: #008209;
}

.negative {
  color: #a60400;
}